.deps
.libs
*~
*.o
missing
Makefile
Makefile.in
Makefile.msc
aclocal.m4
autom4te.cache
config.h
config.h.in
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
stamp-h1
src/clutterpad
